apiVersion: jaegertracing.io/v1
kind: Jaeger
metadata:
  name: jaeger-otel
  labels:
    environment: testing
    purpose: otel-poc
    owner: qsr-architects
spec:
  strategy: allInOne # <1>
  selector:
    matchLabels:
      environment: testing
      purpose: otel-poc
  allInOne:
    image: jaegertracing/all-in-one:latest # <2>
    options: # <3>
      log-level: debug # <4>
  storage:
    type: memory # <5>
    options: # <6>
      memory: # <7>
        max-traces: 100000
  ingress:
    enabled: false # <8>
  agent:
    strategy: DaemonSet # <9>
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: "" # <10>

# <1> The default strategy is allInOne. The other possible values are production and streaming.
# 
# <2> The image to use, in a regular Docker syntax.
# 
# <3> The (non-storage related) options to be passed verbatim to the underlying binary. Refer to the Jaeger documentation and/or to the --help option from the related binary for all the available options.
# 
# <4> The option is a simple key: value map. In this case, we want the option --log-level=debug to be passed to the binary.
# 
# <5> The storage type to be used. By default it will be memory, but can be any other supported storage type (Cassandra, Elasticsearch, Kafka).
# 
# <6> All storage related options should be placed here, rather than under the ‘allInOne’ or other component options.
# 
# <7> Some options are namespaced and we can alternatively break them into nested objects. We could have specified memory.max-traces: 100000.
# 
# <8> By default, an ingress object is created for the query service. It can be disabled by setting its enabled option to false. If deploying on OpenShift, this will be represented by a Route object.
# 
# <9> By default, the operator assumes that agents are deployed as sidecars within the target pods. Specifying the strategy as “DaemonSet” changes that and makes the operator deploy the agent as DaemonSet. Note that your tracer client will probably have to override the “JAEGER_AGENT_HOST” environment variable to use the node’s IP.
# 
# <10> Define annotations to be applied to all deployments (not services). These can be overridden by annotations defined on the individual components.
