apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-ssl-config
  namespace: test-tls-deploy
data:
  default.conf: |
    server {
        listen 8080;
        server_name _;
        return 301 https://$host$request_uri;
    }
    
    server {
        listen 8443 ssl http2;
        server_name _;
    
        ssl_certificate /etc/ssl/certs/tls.crt;
        ssl_certificate_key /etc/ssl/certs/tls.key;
    
        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers ECDHE-RSA-AES256-GCM-SHA512:DHE-RSA-AES256-GCM-SHA512:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384;
        ssl_prefer_server_ciphers on;
        ssl_session_cache shared:SSL:10m;
    
        location / {
            root /usr/share/nginx/html;
            index index.html index.htm;
        }
    
        location /health {
            return 200 "healthy\n";
            add_header Content-Type text/plain;
        }
    }