apiVersion: monitoring.coreos.com/v1
kind: Alertmanager
metadata:
  name: otlp
spec:
  replicas: 3
  alertmanagerConfigSelector:
    matchLabels:
      alertmanagerConfig: otlp
---
apiVersion: v1
kind: Service
metadata:
  name: alertmanager-otlp
spec:
  type: NodePort
  ports:
    - name: web
      nodePort: 30903
      port: 9093
      protocol: TCP
      targetPort: web
  selector:
    alertmanager: otlp