apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: otlp
spec:
  serviceAccountName: prometheus
  # serviceMonitorSelector:
  #   matchLabels:
  #     prometheus-monitored-app: "true"  # label applied to the 'service monitors' that identify the 'monitored services' via selector
  #  podMonitorSelector:
  #   matchLabels:
  #     prometheus-monitored-pod: "true"
  alerting:
    alertmanagers:
      - namespace: observability
        name: alertmanager-otlp
        port: web
  ruleSelector:
    matchLabels:
      role: alert-rules
      prometheus: otlp
  additionalArgs:
    - name: web.enable-remote-write-receiver
  #   serviceMonitorSelector:
  #   MatchLabels:
  #      prometheus-monitored-app: "true"
  resources:
    requests:
      memory: 400Mi
  enableAdminAPI: true # this is exposing functionality that we may not want to expose in production???
---
# service exposing prometheus
apiVersion: v1
kind: Service
metadata:
  name: prometheus
spec:
  type: NodePort
  ports:
    - name: web
      nodePort: 30900
      port: 9090
      protocol: TCP
      targetPort: web
  selector:
    prometheus: otlp
---
# default prometheus ruleset
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  creationTimestamp: null
  labels:
    prometheus: otlp
    role: alert-rules
  name: otlp-rules
spec:
  groups:
    - name: ./otlp.rules
      rules:
        - alert: ExampleAlert
          expr: vector(1)